@import url(variables.css)

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Regular;

}

body{

    position: relative;
    background-color: #161616;;
}

.popUp{

    position: absolute;
    right: 0.3vw;
    top: 1vh;
    cursor: pointer;
}


html{

    scroll-behavior: smooth;
}
header{

    width: 95%;
    height: 10%;
    overflow-y: hidden;
    overflow-x: scroll;
    font-family: Regular;
    background-color: #161616;
    

}
header ul{

    display: flex;
    gap: 1vw;
    font-size: 1vw;
    width: 100px;
    
}

header ul li{

    list-style: none;
    width: 100px;
    width: 70px;


}

header ul li a{

    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-decoration: none;
    color: #e0e0e0
}

.products{

    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    height: 100%;
    padding: 30px;
    gap: 2vh;

}

.products .product{

    display: grid;
    grid-template: 1fr / 300px repeat(2, 1fr);
    height: 80vh;
    gap: 1vw;
    padding-block: 2vh;  
    background-color: #474747;
}
.products .product .gallery__Products{

    display: grid;
    gap: 1vh;
    padding-inline: 1vw;

   
}

.products .product .gallery__Products .photo{ 


    grid-template: repeat(3, 1fr) / 1fr;
    height: 18vh;
    background-color: #fff;
}

.products .product .main__Product{


    background-color: #fff;
    height: 100%;

}

.description__Product{

    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.description__Product button{

    width: 45%;
    height: 7vh;
    font-size: 1.5vw;
}
.description__Product .cost{

    display: flex;
    gap: 20px;
    align-items: center;

}


.description__Product .cost h3{ 

    font-size: 3vw;
}

.popUp{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popUp svg{
    position: absolute;
    top: 1.2vh;
    right: 0.5vw
}
.navegador {
    opacity: 0;
    z-index: 6;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 0;
    height: 0vh;
    width: 40vw;
    overflow: hidden;
    background-color: #161616;
    transition: all 0.3s ease; 
    box-shadow: 0px 0px 10px black;
    color: #fff
}

.navegador .gallery__detalles{

    height: 20vh;
    border: 1px solid white;
    width: 90%;
    overflow-y: scroll;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr


}

.detalle{

    border: 1px solid white;
    height: 10vh;
    
}

.checkbtn {
    display: block;
    position: absolute;
    right: 20px;
}

#check:checked + .navegador {
    opacity: 1;
    padding-block: 20px;
    height: 45vh;
}

.navegador h2{

   font-size: 2.5vw; 
}

.navegador .total{

    border: 1px solid white;
    width: 85%;
    margin-top: 10px;
    font-size: 1vw;
    display: flex;
    padding: 1vw;
    gap: 25vw;
    align-items: center;

}

.navegador .precios{
    width: 100%;
    padding: 1vw
}

.navegador .precios button{

    background-color: #474747;
    border: 1px solid #474747;
    padding: 15px;
}

